@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  /* Colors */
  --clr-cyan-600: #4D96A9;
  --clr-cyan-300: #8FE3F9;
  --clr-purple-600: #855FB1;
  --clr-purple-300: #D9B8FF;
  --clr-slate-900: #28283D;
  --clr-slate-600: #87879D;
  --clr-white: #FAFAFA;

  /* Typography */
  --red-hat-display: "Red Hat Display", serif;

  /* Spacing */
  --spacer-1400: 7rem;
  --spacer-1000: 5rem;
  --spacer-900: 4.5rem;
  --spacer-800: 4rem;
  --spacer-700: 3.5rem;
  --spacer-500: 2.5rem;
  --spacer-400: 2rem;
  --spacer-300: 1.5rem;
  --spacer-200: 1rem;
  --spacer-100: 0.5rem;
  --spacer-50: 0.25rem;
}

/* CSS Reset */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

/* Custom CSS classes */
.cyan {
  background-color: var(--clr-cyan-600);
}

.cyan:hover {
  background-color: var(--clr-cyan-300);
}

.purple {
  background-color: var(--clr-purple-600);
}

.purple:hover {
  background-color: var(--clr-purple-300);
}

body {
  font-family: var(--red-hat-display);
  background-color: var(--clr-white);
}

/* Main content header */

.header-section {
  display: flex;
  justify-content: center;
}

.meet-logo {
  margin-top: 3rem;
  width: 118px;
}

/* First section hero */

.group-left, .group-right {
  display: none;
}

.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: var(--spacer-800);
  margin-bottom: var(--spacer-400);

}

.hero-text {
    max-width: 305px;
}

.hero-content h1 {
  margin-top: 3rem;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--clr-slate-900);
  line-height: 110%;
}

.hero-content p {
  font-size: 1rem;
  line-height: 150%;
  color: var(--clr-slate-600);
  font-weight: 600;
  margin: 1.5rem 0rem;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
  max-width: 193px;
}

.download-btn, .what-btn {
  border-radius: 29px;
  height: 56px;
  color: var(--clr-white);
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.download-btn {
  margin: auto;
  width: 193px;
  height: 56px;
}

.what-btn {
  background-color: var(--clr-purple-600);
  width: 161px;
  margin: auto;
}

.what-btn:hover {
  background-color: var(--clr-purple-300);
}

.download-btn span {
  opacity: 50%;
}

/* Second section */

.second-section-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.second-content {
  max-width: 311px;  
  margin-top: var(--spacer-400);
  margin-bottom: var(--spacer-800);
}

.number-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-size: 1rem;
  color: var(--clr-slate-600);
  width: 56px;
  height: 136px;
}

.number-1 {
  margin-bottom: var(--spacer-800);
}

.line {
  width: 1px;
  flex-grow: 1; 
  background-color: var(--clr-slate-600);
}

.number {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--clr-slate-600);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 800;
  font-weight: bold;
  color: var(--clr-slate-600);
}

.group-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: var(--spacer-800);
}

.group-image-container img {
  width: 147.5px;
  border-radius: 8px;
}

.cyan-small-title {
  letter-spacing: 3px;
  font-weight: 800;
  color: var(--clr-cyan-600);
}

.second-content > h2 {
  color: var(--clr-slate-900);
  font-weight: 1000;
  font-size: 2rem;
  margin-top: var(--spacer-200);
  margin-bottom: var(--spacer-400);
}

.second-content-paragraph {
  color: var(--clr-slate-600);
  line-height: 1.5;
  font-weight: 600;
}


/* Third section */

.number-2 {
  margin: auto;
  z-index: 3;
  position: relative;  
  top: -6.9rem;
}

.number-02 {
  background-color: var(--clr-white);

}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--clr-cyan-600);
  opacity: 0.7;
}

.third-section-wrapper {
  position: relative;
  overlay: var(--clr-cyan-600);
  background-image: url("assets/mobile/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 7rem;
}

.third-section-content {
  position: absolute;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  z-index: 2;
  position: relative;
  width: 311px;
}

.third-section-content > h2, .third-section-content > p {
  color: var(--clr-white);
}

.third-section-content > h2 {
  font-size: 2rem;
  font-weight: 1000;
}

.third-section-content > p {
  margin: var(--spacer-300) 0rem;
  line-height: 1.4;
  font-weight: 600;
}

/* Tablet view */
@media screen and (min-width: 768px) {

/* First section hero */
.group-image {
  width: 820px;
}

.hero-content {
  margin-top: var(--spacer-900);
  margin-bottom: var(--spacer-800);

}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 408px;
}

.hero-content h1 {
  font-size: 3rem;
  max-width: 350px;
}

.button-wrapper {
  flex-direction: row;
  max-width: 408px;
}

/* Second section */

.second-section-wrapper {
  margin-top: var(--spacer-700);
}

.second-content {
  max-width: 680px;  
}

.group-image-container {
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.group-image-container img {
  width: 157px;
}

.cyan-small-title {
  letter-spacing: 4px;
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--clr-cyan-600);
}

.second-content > h2 {
  margin: auto;
  font-size: 2.25rem;
  width: 445px;
  margin-top: var(--spacer-200);
}

.second-content-paragraph {
  width: 514px;
  margin: auto;
  padding: var(--spacer-400);
}

/* Third section */

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--clr-cyan-600);
  opacity: 0.7;
}

.third-section-wrapper {
  position: relative;
  overlay: var(--clr-cyan-600);
  background-image: url("assets/tablet/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 7rem;
}

.third-section-content {
  position: absolute;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  z-index: 2;
  position: relative;
  width: 311px;
}

.third-section-content > h2, .third-section-content > p {
  color: var(--clr-white);
}

.third-section-content > h2 {
  font-size: 2rem;
  font-weight: 1000;
}

.third-section-content > p {
  margin: var(--spacer-300) 0rem;
  line-height: 1.4;
  font-weight: 600;
}
}

@media screen and (min-width: 1440px) {

  .group-left, .group-right {
    display: block;
  }

  .group-image {
    display: none;
  }

  .desktop-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: var(--spacer-800) 0rem;
    gap: 2rem;
    max-width: 1440px;
  }
  

  .hero-content, .first-section-wrapper {
    display: inline;
  }

  /* Second section */

.second-section-wrapper {
  margin-top: var(--spacer-700);
}

.second-content {
  max-width: 1120px;  
}

.group-image-container img {
  width: 256px;
}

.cyan-small-title {
  letter-spacing: 4px;
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--clr-cyan-600);
}

.second-content > h2 {
  font-size: 2.5rem;
}

/* Third section */

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--clr-cyan-600);
  opacity: 0.7;
}

.third-section-wrapper {
  position: relative;
  overlay: var(--clr-cyan-600);
  background-image: url("assets/desktop/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 6rem;
}

.third-section-content {
  flex-direction: row;
  width: 1120px;
  height: 280px;
  text-align: left;
  align-items: center;
}

.third-section-content > h2 {
  font-size: 2.5rem;
}

}
